<%= form_for(@mission) do |f| %>
  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% @mission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :objective %><br />
    <%= f.text_field :objective %>
  </div>
  <div class="field">
    <%= f.label :captain %><br />
    <%= f.collection_select :captain_id, Captain.all, :id, :name, :prompt => "Select a Captain" %>
  </div>
  <div class="field">
    <%= f.label :crew %><br />
    <%= f.collection_select :crew_id, Crew.all, :id, :name, :prompt => "Select a Crew" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
