<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mission.name %>
</p>

<p>
  <b>Objective:</b>
  <%= @mission.objective %>
</p>

<p>
  <b>Captain:</b>
  <%= @mission.captain %>
</p>

<p>
  <b>Crew:</b>
  <%= @mission.crew %>
</p>


<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
